mat-tree {
    border: 2px solid #673ab7;
    margin-bottom: 1rem;
    b.key {
        font-weight: 500;
        padding-right: 1rem;
    }
    span.length, span.value {
        color:gray;
    }
}
mat-tree-node {
    .action {
        visibility: hidden;
      }
      &:hover {
        .action {
          visibility: visible;
        }
      }
    }
    
