<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content [ngClass]="{ 'single-item': data.type != 'complex' }">
  <mat-form-field *ngIf="updateMode">
    <mat-label>Type</mat-label>
    <mat-select [(ngModel)]="data.type" (ngModelChange)="typeChanged()">
      <mat-option *ngFor="let type of types" [value]="type.name">{{
        type.displayName
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <mat-form-field>
    <label>Key</label>
    <input
      [disabled]="updateMode"
      matInput
      type="text"
      [(ngModel)]="output.key"
    />
  </mat-form-field> -->
  <ng-container *ngIf="canShowValue">
    <ng-container [ngSwitch]="data.type">
      <mat-checkbox
        *ngSwitchCase="'boolean'"
        (change)="updateNodeValue($event.checked)"
        [(ngModel)]="valueGS"
      >
        {{ valueGS }}
      </mat-checkbox>
      <mat-form-field *ngSwitchCase="'number'">
        <mat-label>Value</mat-label>
        <input
          matInput
          type="number"
          (change)="updateNodeValue($event.target.value)"
          [(ngModel)]="valueGS"
        />
      </mat-form-field>
      <ng-container *ngSwitchCase="'complex'">
        <div class="complex-item" *ngFor="let item of complexItems">
          <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select
              [(ngModel)]="item.type"
              (ngModelChange)="complextItemTypeChanged(item)"
            >
              <mat-option
                *ngFor="let type of complexTypes"
                [value]="type.name"
                >{{ type.displayName }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="item.type != 'boolean'">
            <mat-label>Value</mat-label>
            <input
              matInput
              [type]="item.type"
              [disabled]="!item.type"
              [(ngModel)]="item.value"
              (change)="this.updateNodeValue()"
            />
          </mat-form-field>
          <mat-checkbox
            *ngIf="item.type == 'boolean'"
            [(ngModel)]="item.value"
            (change)="this.updateNodeValue()"
          >
            {{ item.value }}
          </mat-checkbox>
          <button
            mat-icon-button
            color="warn"
            (click)="deleteComplexItem(item)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <button
          mat-button
          mat-raised-button
          color="primary"
          *ngIf="canAddComplexItem"
          (click)="addComplexItem()"
        >
          +
        </button>
      </ng-container>
      <mat-form-field *ngSwitchDefault>
        <!-- <mat-icon *ngIf = "specialCharacter" matPrefix>{{ specialCharacter }}</mat-icon> -->
        <mat-label>Value</mat-label>
        <input
          matInput
          type="text"
          (change)="updateNodeValue($event.target.value)"
          [(ngModel)]="valueGS"
        />
      </mat-form-field>
    </ng-container>
    <mat-form-field *ngIf="data.type == undefined">
      <input
        matInput
        type="text"
        (change)="updateNodeValue($event.target.value)"
        [(ngModel)]="valueGS"
      />
    </mat-form-field>
  </ng-container>
</div>
<!-- <div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-raised-button
    color="primary"
    (click)="saveDialog()"
    cdkFocusInitial
  >
    OK
  </button>
</div> -->
