<div class="login-panel">
  <mat-card>
    <mat-card-content>
      <h2>Login</h2>
      <h4 *ngIf="loginError" class="invalid-login">Invalid Login!</h4>
      <div class="login-form">
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Username" [(ngModel)]="username" required>
          <mat-error>
            Please provide a valid username
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" [(ngModel)]="userPassword" required (keyup.enter)="login()">
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </mat-card-content>
  </mat-card>
</div>

