<div>
  <nav-toolbar page="pipelines-editor" title="Pipelines Editor" [user]="user">
    <button mat-raised-button color="primary" style="margin-right: 5px;" (click)="newPipeline()">New</button>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="pipelineMenu"
            style="margin-right: 5px;">Load</button>
    <mat-menu #pipelineMenu="matMenu">
      <button mat-menu-item *ngFor="let pipeline of pipelines" [id]="pipeline.id" (click)="loadPipeline(pipeline.id)">
        {{ pipeline.name }}
      </button>
    </mat-menu>
    <button mat-button color="primary" style="margin-right: 5px;" (click)="copyPipeline()"
            [disabled]=" !this.selectedPipeline.id || this.selectedPipeline.id.trim().length === 0">Copy</button>
    <button mat-button color="primary" (click)="importPipeline()">Import</button>
    <button mat-button color="primary" style="margin-right: 5px;" (click)="exportPipeline()">Export</button>
    <button mat-button color="primary" style="margin-right: 5px;" (click)="deletePipeline()"
            [disabled]=" !this.selectedPipeline.id || this.selectedPipeline.id.trim().length === 0">Delete</button>
  </nav-toolbar>
  <div class="pipelines-editor-layout">
    <div class="steps-editor-sidebar">
      <app-steps-selector
        [steps]="steps"
        [draggableSteps]="true"
      ></app-steps-selector>
    </div>
    <div class="designer-content">
      <div class="pipeline-panel">
        <mat-card>
          <mat-card-content class="header-content">
            <div class="pipeline-data">
            <span>
              <mat-form-field *ngIf="editName">
                <input matInput placeholder=" Pipeline Name" [(ngModel)]="selectedPipeline.name" required (focusout)="disableNameEdit()"/>
              </mat-form-field>
              <span class="pipeline-name" *ngIf="!editName">{{selectedPipeline.name}}</span>
              <button mat-icon-button color="primary" aria-label="Edit" *ngIf="!editName" (click)="enableNameEdit()">
                <mat-icon>edit</mat-icon>
              </button>
            </span>
              <span class="pipeline-id">ID: {{selectedPipeline.id}}</span>
              <mat-form-field>
                <mat-select required [(ngModel)]="selectedPipeline.category">
                  <mat-option value="pipeline">Pipeline</mat-option>
                  <mat-option value="step-group">Step Group</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <span>
            <span *ngIf="errors.length > 0" class="error-panel" (click)="showErrors()">
              <span><mat-icon color="warn" class="error-icon">warning</mat-icon></span>
              <span>{{errors.length}} Errors Detected</span>
            </span>
            <button mat-raised-button color="primary" style="margin-right: 5px;" (click)="savePipeline()"
                    [disabled]="errors.length > 0">
              Save
            </button>
            <button mat-button color="primary" style="margin-right: 5px;"
                    (click)="cancelPipelineChange()">Cancel</button>
            <button mat-button color="primary" style="margin-right: 5px;" [disabled]="errors.length > 0" (click)="autoLayout()">
              Autolayout
            </button>
          </span>
          </mat-card-content>
        </mat-card>
      </div>
      <app-designer
        [addElementSubject]="dndSubject"
        (designerDropEvent)="addStep($event)"
        (elementSelected)="stepSelected($event)"
        (elementAction)="handleElementAction($event)"
        [dataModel]="designerModel"
        #designerElement
        (modelChanged)="modelChange($event)"></app-designer>
    </div>
    <div class="information-panel">
      <mat-card>
        <mat-card-content>
          <mat-accordion>
            <app-step-information [selectedStep]="selectedStep"></app-step-information>
            <mat-expansion-panel style="margin-top: 5px;">
              <mat-expansion-panel-header>
                <mat-panel-title>Parameters</mat-panel-title>
                <mat-panel-description>
                  <span class="step-description">{{selectedStep.displayName}}</span>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="pipeline-form">
                <span>
                  <mat-form-field *ngIf="editStepId">
                    <input matInput placeholder=" Pipeline Name" [(ngModel)]="selectedStep.id" required
                           (focusout)="disableStepIdEdit()" (change)="handleIdChange()"/>
                  </mat-form-field>
                  <span class="pipeline-name" *ngIf="!editStepId">{{selectedStep.id}}</span>
                  <button mat-icon-button color="primary" aria-label="Edit" *ngIf="!editStepId" (click)="enableStepIdEdit()">
                    <mat-icon>edit</mat-icon>
                  </button>
                </span>
                <mat-accordion>
                  <app-pipelines-parameter
                    *ngFor="let param of selectedStep?.params"
                    [isABranchStep]="isABranchStep"
                    [stepType]="selectedStep.type"
                    [stepParameters]="param"
                    [stepGroup]="stepGroup"
                    [packageObjects]="packageObjects"
                    [stepSuggestions]="typeAhead"
                    [pipelines]="stepGroups"
                    [pipelinesData]="pipelinesData"
                    (parameterUpdate)="handleParameterUpdate(param.name, $event)"></app-pipelines-parameter>
                </mat-accordion>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
