.pipelines-editor-layout {
  display: flex;
}

.pipeline-form {
  display: flex;
  flex-direction: column;
}

.button-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pipeline-data {
  display: flex;
  flex-direction: column;
}

.pipeline-name {
  font-size: larger;
}

.pipeline-id {
  font-size: smaller;
  color: #808080;
}

/*
 * Left side
 */
.steps-editor-sidebar {
  width: 30%;
  margin-right: 15px;
}

.pipeline-panel {
  margin-bottom: 8px;
}

/*
 * Right Side
 */

.designer-content {
  width: 70%;
}

// Nav bar styles
.topnav {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.page-title {
  font-weight: bold;
}

