.pipelines-editor-layout {
  display: flex;
}

.pipeline-form {
  display: flex;
  flex-direction: column;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pipeline-data {
  display: flex;
  flex-direction: column;
}

.pipeline-name {
  font-size: larger;
}

.pipeline-id {
  font-size: smaller;
  color: #808080;
}

/*
 * Left side
 */
.steps-editor-sidebar {
  width: 20%;
  margin-right: 8px;
}

.pipeline-panel {
  margin-bottom: 8px;
}

/*
 * Center
 */

.designer-content {
  width: 60%;
}

/*
 * Right
 */
.information-panel {
  width: 20%;
  margin-left: 8px;
}

.step-description {
  font-size: x-small;
  color: #808080;
}

// Nav bar styles
.topnav {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.page-title {
  font-weight: bold;
  font-size: larger;
}

