<mat-list-item class="provider-list-item" *ngFor="let provider of providers" matTooltip="{{provider.description}}"
               matTooltipPosition="right"
               [ngClass]="selectedProvider?.id === provider.id ? 'provider-selected' : ''">
  <div class="provider-list-container">
    <span class="provider-label" (click)="handleProviderSelection(provider)">
      <mat-icon color="primary">{{getProviderIcon(provider)}}</mat-icon>
      {{provider.name}}
    </span>
    <span class="provider-button">
      <button mat-icon-button [matMenuTriggerFor]="menu" color="primary" aria-label="Navigation">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item (click)="addCluster(provider.id)">
          <mat-icon color="primary">add</mat-icon>
          <span class="spacer">New Cluster</span>
        </a>
        <a mat-menu-item (click)="editProvider(provider.id)">
          <mat-icon color="primary">edit</mat-icon>
          <span class="spacer">Edit</span>
        </a>
        <a mat-menu-item (click)="removeProvider(provider.id)">
          <mat-icon color="primary">cancel</mat-icon>
          <span class="spacer">Delete</span>
        </a>
      </mat-menu>
    </span>
  </div>
</mat-list-item>
