
.provider-list-item {
  width: 100%;
  border: 1px solid #eeeeee;
}

.provider-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: inherit;
  overflow: hidden;
  width: 100%;
}

.provider-selected {
  background-color: #EEEEFF;
}

.provider-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.provider-button {
  display: flex;
  justify-content: flex-end;
}
