    <button mat-button [matMenuTriggerFor]="projectMenu" aria-label="Navigation" class="nav-button">
      <span *ngIf="defaultUser">{{defaultProject.displayName}}</span>
      <mat-icon color="primary">expand_more</mat-icon>
    </button>
    <mat-menu #projectMenu="matMenu">
      <button mat-menu-item *ngFor="let project of defaultUser.projects" (click)="changeDefaultProject(project.id)">
          <mat-icon color="primary">account_circle</mat-icon>
          <span class="spacer">{{project.displayName}}</span>
      </button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="userMenu" aria-label="Navigation" class="nav-button">
      <span *ngIf="defaultUser">{{defaultUser.displayName || defaultUser.username}}</span>
      <span *ngIf="!defaultUser">Signin</span>
      <mat-icon color="primary">expand_more</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item *ngIf="defaultUser" [routerLink]="['/profile']" routerLinkActive="active">
          <mat-icon color="primary">account_circle</mat-icon>
          <span class="spacer">Profile</span>
      </button>
      <button  [routerLink]="['/users']" routerLinkActive="active" mat-menu-item *ngIf="defaultUser && defaultUser.role.toString() === 'admin'">
          <mat-icon color="primary">group</mat-icon>
          <span class="spacer">Users</span>
      </button>
      <button mat-menu-item *ngIf="defaultUser" (click)="openModal()">
          <mat-icon color="primary">power_off</mat-icon>
          <span class="log-out">Logout</span>
      </button>
    </mat-menu>