<app-close-dialog-button></app-close-dialog-button>
<mat-card class="object-select-card">
  <mat-card-content>
    <div class="object-language">
      <mat-form-field class="object-select">
        <mat-label>Select Object: </mat-label>
        <mat-select required [(ngModel)]="data.schemaName" (selectionChange)="handleSchemaSelection($event.value)">
          <mat-option *ngFor="let po of data.pkgObjs" [value]="po.id">{{po.id}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>

<json-schema-form
  loadExternalAssets="true"
  [form]="formData"
  (onSubmit)="onSubmit($event)"
  framework="material-design"
>
</json-schema-form>
