
<div>
  <nav-toolbar>
    <span>
      <button mat-raised-button color="primary" style="margin-right: 5px;" (click)="newApplication()">New</button>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="pipelineMenu"
            style="margin-right: 5px;">Load</button>
    <mat-menu #pipelineMenu="matMenu">
      <button mat-menu-item *ngFor="let application of applications" [id]="application.id" (click)="loadApplication(application)">
        {{ application.name }}
      </button>
    </mat-menu>
    <button mat-button color="primary" style="margin-right: 5px;" (click)="copyApplication()"
            [disabled]=" !this.selectedApplication.id || this.selectedApplication.id.trim().length === 0">Copy</button>
    <button mat-button color="primary" (click)="importApplication()">Import</button>
    <button mat-button color="primary" style="margin-right: 5px;" (click)="exportApplication()">Export</button>
    <button mat-button color="primary" style="margin-right: 5px;" (click)="deleteApplication()"
            [disabled]=" !this.selectedApplication.id || this.selectedApplication.id.trim().length === 0">Delete</button>
    </span>
  </nav-toolbar>
  <!-- Main editor layout -->
  <div class="grid-container">
    <!-- Control Panel -->
    <div class="control-panel">
      <mat-card>
        <mat-card-content>
          <div class="header-content">
            <div class="application-data">
            <span>
            <mat-form-field *ngIf="editName">
              <input matInput placeholder=" Application Name" [(ngModel)]="selectedApplication.name" required
                     (focusout)="disableNameEdit()"/>
            </mat-form-field>
            <span class="application-name" *ngIf="!editName">{{selectedApplication.name}}</span>
            <button mat-icon-button color="primary" aria-label="Edit" *ngIf="!editName" (click)="enableNameEdit()">
              <mat-icon>edit</mat-icon>
            </button>
          </span>
              <span class="pipeline-id">ID: {{selectedApplication.id}}</span>
            </div>
            <span>
              <span *ngIf="errors.length > 0" class="error-panel" (click)="showErrors()">
                <span><mat-icon color="warn" class="error-icon">warning</mat-icon></span>
                <span>{{errors.length}} Errors Detected</span>
              </span>
            <button mat-raised-button color="primary" style="margin-right: 5px;"
                    matTooltip="Run a Job"
                    [disabled]="!this.selectedApplication?.id"
                    (click)="runJob()">Run</button>
            <button mat-raised-button color="primary" style="margin-right: 5px;" (click)="saveApplication()"
                    [disabled]="errors.length > 0">Save</button>
            <button mat-button color="primary" style="margin-right: 5px;"
                    (click)="cancelApplicationChange()">Cancel</button>
            <button mat-button color="primary" style="margin-right: 5px;" [disabled]="errors.length > 0"
                    (click)="autoLayout()">Autolayout</button>
            <button mat-button color="primary" style="margin-right: 5px;" [disabled]="jobs?.length < 1"
                      (click)="showJobs()">{{ jobs?.length }} Jobs</button>
          </span>
          </div>
          <div style="text-align: center">
            <button mat-button color="primary" (click)="openSparkConfEditor()">Spark Settings</button>
            |<button mat-button color="primary" (click)="openMapEditor(selectedApplication)">Globals</button>
            |<button mat-button color="primary" [disabled]="selectedApplication.executions?.length === 0"
                     (click)="openGlobalLinksEditor(selectedApplication)">Global Links</button>
            |<button mat-button color="primary" (click)="openClassOverridesEditor()">Class Overrides</button>
            |<button mat-button color="primary" (click)="openUDCsEditor()">User Defined Classes</button>
            |<button mat-button color="primary" (click)="openMapEditor(selectedApplication, 'applicationProperties')">Setup Properties</button>
            |<button mat-button color="primary" (click)="openPropertiesEditor()">Required Properties</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Execution Toolbar Panel -->
    <div class="execution-toolbar-panel">
      <mat-card>
        <mat-card-content>
          <mat-action-list class="execution-list">
            <mat-list-item class="execution-list-item" *ngFor="let template of executionTemplates" matTooltip="{{template.description}}"
                           matTooltipPosition="right"
                           [dndDraggable]="template"
                           [dndDisableIf]="!draggable"
                           [dndEffectAllowed]="dropEffect">
              <div class="execution-list-container" dndDragImageRef>
                <mat-icon color="primary">transform</mat-icon>
                <span class="execution-list-text">{{template.displayName}}</span>
              </div>
            </mat-list-item>
          </mat-action-list>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Designer Panel -->
    <div class="designer-panel" #canvas>
      <mat-card>
        <mat-card-content>
          <app-designer [dataModel]="designerModel"
                        (designerDropEvent)="addExecution($event)"
                        (elementAction)="handleElementAction($event)"
                        (elementSelected)="handleExecutionSelection($event)"
                        [addElementSubject]="addExecutionSubject"
                        [addElementOutput]="addExecutionOutput">
          </app-designer>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Execution Editor Panel -->
    <div class="execution-panel">
      <mat-card>
        <mat-card-content>
          <mat-accordion>
            <mat-expansion-panel [disabled]="!selectedExecution">
              <mat-expansion-panel-header>
                <mat-panel-title>Execution Information</mat-panel-title>
              </mat-expansion-panel-header>
              <div *ngIf="selectedExecution" class="form-layout">
                <mat-form-field *ngIf="selectedExecution">
                  <input matInput placeholder="Id"
                         [(ngModel)]="selectedExecution.id"
                         (change)="handleExecutionIdChange()"
                         name="id">
                </mat-form-field>
                <span *ngIf="selectedExecution">
                  <button mat-raised-button color="primary" style="margin-right: 5px" (click)="openMapEditor(selectedExecution)">Globals</button>
                  <mat-slide-toggle color="primary" labelPosition="before"
                                    [(ngModel)]="selectedExecution.mergeGlobals">
                    Merge with Applications Globals?
                  </mat-slide-toggle>
                </span>
                <mat-form-field *ngIf="selectedExecution">
                  <mat-label>Initial Pipeline Id</mat-label>
                  <mat-select required [(ngModel)]="selectedExecution.initialPipelineId">
                    <mat-option *ngFor="let pipeline of selectedPipelines" value="pipeline.id">
                      {{pipeline.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel [disabled]="!selectedExecution">
              <mat-expansion-panel-header>
                <mat-panel-title>Pipelines</mat-panel-title>
              </mat-expansion-panel-header>
              <div class="pipeline-container">
                <h3>Available</h3>
                <div
                  cdkDropList
                  #availableList="cdkDropList"
                  [cdkDropListData]="availablePipelines"
                  [cdkDropListConnectedTo]="[selectedList]"
                  class="pipeline-list"
                  (cdkDropListDropped)="dropPipeline($event)">
                  <div class="pipeline-box" *ngFor="let pipeline of availablePipelines" cdkDrag>{{pipeline.name}}</div>
                </div>
              </div>
              <div class="pipeline-container">
                <h3>Selected</h3>
                <div
                  cdkDropList
                  #selectedList="cdkDropList"
                  [cdkDropListData]="selectedExecution?.pipelines"
                  [cdkDropListConnectedTo]="[availableList]"
                  class="pipeline-list"
                  (cdkDropListDropped)="dropPipeline($event)">
                  <div class="pipeline-box" *ngFor="let pipeline of selectedExecution?.pipelines" cdkDrag>
                    {{pipeline.name}}
                    <span>
                      <button mat-icon-button color="primary"
                              matTooltip="Edit Execution Parameters"
                              (click)="openPipelineParametersEditor(pipeline)"
                              style="margin-right: 5px;">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="primary"
                            matTooltip="Edit Global Parameters"
                            (click)="openPipelineParametersEditor(pipeline, false)"
                            style="margin-right: 5px;">
                      <mat-icon>language</mat-icon>
                    </button>
                    </span>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel [disabled]="!selectedExecution">
              <mat-expansion-panel-header>
                <mat-panel-title>Class Overrides</mat-panel-title>
              </mat-expansion-panel-header>
              <app-components-editor *ngIf="selectedExecution" [data]="selectedExecution"></app-components-editor>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
