<mat-grid-list cols="4">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title-group>
          <img height="32px" width="32px" alt="Applications" src="../../assets/application.png">
          <mat-card-title>Applications</mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>{{applicationCount}}</mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title-group>
          <img height="32px" width="32px" alt="Pipelines" src="../../assets/pipeline.png">
          <mat-card-title>Pipelines</mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>{{pipelineCount}}</mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title-group>
          <img height="32px" width="32px" alt="Steps" src="../../assets/step.png">
          <mat-card-title>Steps</mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>{{stepCount}}</mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title-group>
          <img height="32px" width="32px" alt="Object Schemas" src="../../assets/package.png">
          <mat-card-title>Object Schemas</mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>{{packageObjectCount}}</mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
