<mat-card>
  <mat-card-content>
    <div *ngIf="passwordForm.invalid">
      <div *ngIf="passwordForm.errors?.passwordMismatch">Passwords do not match!</div>
      <div *ngIf="passwordForm.controls.password.errors?.required && passwordForm.controls.password.touched">A valid password is required!</div>
      <div *ngIf="passwordForm.controls.newPassword.errors?.required && passwordForm.controls.newPassword.touched">A valid new password is required!</div>
    </div>
    <form [formGroup]="passwordForm">
      <div class="login-form">
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="New Password" formControlName="newPassword" required>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Verify New Password" formControlName="verifyNewPassword" required>
        </mat-form-field>
      </div>
    </form>
    <button mat-raised-button color="primary" [disabled]="passwordForm.invalid" (click)="savePassword()">Save</button>
    <button mat-raised-button color="primary" (click)="closeDialog()">Cancel</button>
  </mat-card-content>
</mat-card>
