<div style="text-align: center">
  <mat-spinner *ngIf="showSpinner" style="text-align: center; display: inline-block"></mat-spinner>
</div>
<form [formGroup]="form">
  <formly-form [form]="form" [model]="model" [fields]="_fields"></formly-form>
</form>

<mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="primary"
    (click)="saveDialog()"
    style="margin-right: 5px"
    [disabled]="!form.valid">
    Save
  </button>
  <button mat-raised-button color="primary" (click)="closeDialog()">
    Cancel
  </button>
</mat-dialog-actions>
