<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Information</mat-panel-title>
    <mat-panel-description>
      <span class="step-description">{{selectedStep?.displayName || selectedStepTemplate?.displayName}}</span>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="pipeline-form">
      <span class="step-label">ID:</span>
      <span class="step-description">{{selectedStep?.stepId || selectedStepTemplate?.id}}</span>
    <span class="step-label">Name:</span>
    <span class="step-description">{{selectedStep?.displayName || selectedStepTemplate?.displayName}}</span>
    <span class="step-label">Tags:</span>
    <span class="step-description">{{selectedStep?.tags?.join() || selectedStepTemplate?.tags?.join()}}</span>
    <span class="step-label">Category:</span>
    <span class="step-description">{{selectedStep?.category || selectedStepTemplate?.category}}</span>
    <span class="step-label">Engine Meta Command:</span>
    <span class="step-description">{{selectedStep?.engineMeta?.spark || selectedStepTemplate?.engineMeta?.spark}}</span>
    <span class="step-label">Engine Meta Package:</span>
    <span class="step-description">{{selectedStep?.engineMeta?.pkg || selectedStepTemplate?.engineMeta.pkg}}</span>
    <span class="step-label">
      Description
      <button mat-icon-button color="primary" aria-label="Edit"
              [disabled]="!selectedStep"
              (click)="enableDescription()">
        <mat-icon>edit</mat-icon>
      </button>
    </span>
    <mat-form-field>
      <textarea matInput [ngModel]="selectedStep?.description || selectedStepTemplate?.description" name="description" disabled="true"></textarea>
    </mat-form-field>
  </div>
</mat-expansion-panel>
