<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Information</mat-panel-title>
    <mat-panel-description>{{
      selectedStep.displayName
    }}</mat-panel-description>
  </mat-expansion-panel-header>
  <div class="pipeline-form">
    <mat-form-field>
      <input
        matInput
        placeholder="Step Id"
        [ngModel]="selectedStep.stepId"
        name="stepId"
        disabled="true"
      />
    </mat-form-field>
    <mat-form-field
      ><input
        matInput
        placeholder="Name"
        [ngModel]="selectedStep.displayName"
        disabled="true"
        name="displayName"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-chip-list #chipList aria-label="Step Tags">
        <mat-chip *ngFor="let tag of selectedStep.tags" [disabled]="true">
          {{ tag }}
        </mat-chip>
        <input
          matInput
          placeholder="Step Tags"
          [matChipInputFor]="chipList"
          disabled="true"
          name="stepTags"
        />
      </mat-chip-list>
    </mat-form-field>
    <mat-form-field
      ><textarea
        matInput
        placeholder="Description"
        [ngModel]="selectedStep.description"
        name="description"
        disabled="true"
      ></textarea
    ></mat-form-field>
    <mat-form-field
      ><input
        matInput
        placeholder="Category"
        required
        [ngModel]="selectedStep.category"
        name="category"
        disabled="true"
      />
    </mat-form-field>
    <mat-form-field *ngIf="selectedStep.engineMeta"
      ><input
        matInput
        placeholder="Engine Meta Command"
        [ngModel]="selectedStep.engineMeta.spark"
        name="stepCommand"
        disabled="true"
      />
    </mat-form-field>
    <mat-form-field *ngIf="selectedStep.engineMeta"
      ><input
        matInput
        placeholder="Engine Meta Package"
        [(ngModel)]="selectedStep.engineMeta.pkg"
        name="stepPackage"
        disabled="true"
      />
    </mat-form-field>
  </div>
</mat-expansion-panel>
