<div mat-dialog-content class="message">
  <h3 mat-dialog-title>Name</h3>
  <mat-form-field><input matInput [(ngModel)]="name" required name="Name"></mat-form-field>
  <h3 mat-dialog-title>Preload Step Libraries</h3>
  <ul>
    <li *ngFor="let template of templates">
      <mat-checkbox [(ngModel)]="template.checked">
        {{template.name}}
      </mat-checkbox>
    </li>
  </ul>
</div>
<mat-dialog-actions align = "end">
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button (click)="saveDialog()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
