<div (click)="nodeClicked($event)"
     matTooltip="{{data.name}}: {{data.tooltip}}"
     matTooltipPosition="right">
  <div class="branch-node-label">{{data.name}}</div>
  <div class="branch-node-icon">
    <mat-icon color="primary">{{data.icon}}</mat-icon>
  </div>
  <div class="actions">
    <mat-icon class="branch-node-icon" (click)="removeNode()">delete</mat-icon>
    <mat-icon class="branch-node-icon" [matMenuTriggerFor]="menu">more_vert</mat-icon>
    <mat-menu #menu="matMenu">
      <button *ngFor="let action of data.actions" mat-menu-item (click)="handleAction(action.action)" [disabled]="!action.enableFunction()">{{action.displayName}}</button>
    </mat-menu>
  </div>
</div>
<div [matMenuTriggerFor]="nodeMenu">
  <mat-menu #nodeMenu="matMenu">
    <button mat-menu-item (click)="removeNode()">Remove</button>
    <button *ngFor="let action of data.actions" mat-menu-item (click)="handleAction(action.action)" [disabled]="!action.enableFunction()">{{action.displayName}}</button>
  </mat-menu>
</div>
