
.step-list-item {
  width: 100%;
  border: 1px solid #eeeeee;
}

.step-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: inherit;
  overflow: hidden;
}

.step-list-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 5px;
}
