<mat-form-field>
  <mat-label>Base Type</mat-label>
  <mat-select [(ngModel)]="dataType.baseType">
    <mat-option *ngFor="let t of baseTypes" [value]="t">{{t}}</mat-option>
  </mat-select>
</mat-form-field>
<button [disabled]="dataType.baseType !== 'struct' && dataType.baseType !== 'map'" color="primary" (click)="addType('name')" mat-icon-button matTooltip="Add Name Type">
  <mat-icon>face</mat-icon>
</button>
<button [disabled]="dataType.baseType !== 'struct' && dataType.baseType !== 'map'" color="primary" (click)="addType('value')" mat-icon-button matTooltip="Add Value Type">
  <mat-icon>article</mat-icon>
</button>
<button [disabled]="dataType.baseType !== 'struct' && dataType.baseType !== 'map'" color="primary" (click)="addSchema()" mat-icon-button matTooltip="Add Sub Schema">
  <mat-icon>schema</mat-icon>
</button>
<mat-accordion>
<mat-expansion-panel *ngIf="dataType.nameType">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Name Type
    </mat-panel-title>
    <mat-panel-description>
      {{attribute.name}}
    </mat-panel-description>
  </mat-expansion-panel-header>
<attribute-type-editor [dataType]="dataType.nameType"></attribute-type-editor>
</mat-expansion-panel>
<mat-expansion-panel *ngIf="dataType.valueType">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Value Type
    </mat-panel-title>
    <mat-panel-description>
      {{attribute.name}}
    </mat-panel-description>
  </mat-expansion-panel-header>
<attribute-type-editor [dataType]="dataType.valueType"></attribute-type-editor>
</mat-expansion-panel>
<mat-expansion-panel *ngIf="dataType.schema">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Sub Schema
    </mat-panel-title>
    <mat-panel-description>
      {{attribute?.name}}
    </mat-panel-description>
  </mat-expansion-panel-header>
<schema-editor [canSubmit]="false" [schemaObject]="dataType.schema"></schema-editor>
</mat-expansion-panel>
</mat-accordion>
