<div>
  <nav-toolbar page="users" title="Users" [user]="currentUser">
    <button mat-raised-button color="primary" (click)="addUser()" style="margin-right: 5px;">New</button>
  </nav-toolbar>
  <div>
    <mat-card>
      <mat-card-content>
        <div class="divTable blueTable">
          <div class="divTableHeading">
            <div class="divTableRow">
              <div class="divTableHead">Id</div>
              <div class="divTableHead">Display Name</div>
              <div class="divTableHead">Username</div>
              <div class="divTableHead">Role</div>
              <div class="divTableHead">Default Project Id</div>
              <div class="divTableHead">Edit</div>
              <div class="divTableHead">Delete</div>
            </div>
          </div>
          <div class="divTableBody">
            <div class="divTableRow" *ngFor="let user of users">
              <div class="divTableCell">{{user.id}}</div>
              <div class="divTableCell">{{user.displayName}}</div>
              <div class="divTableCell">{{user.username}}</div>
              <div class="divTableCell">{{user.role}}</div>
              <div class="divTableCell">{{user.defaultProjectId}}</div>
              <div class="divTableCell">
                <button *ngIf="user?.id !== currentUser?.id" mat-icon-button color="primary"
                        (click)="editUser(user)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
              <div class="divTableCell">
                <button *ngIf="user?.id !== currentUser?.id" mat-icon-button color="primary"
                        (click)="removeUser(user)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

