.stepForm {
  display: flex;
  flex-direction: column;
}

.stepForm > * {
  width: 100%;
}

.step-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.step-radio-button {
  margin: 5px;
}
