<div class="stepForm">
  <!--  <mat-form-field><mat-label>fred</mat-label></mat-form-field>-->
  <mat-form-field><input matInput placeholder="Name"></mat-form-field>
  <mat-form-field><textarea matInput placeholder="Description"></textarea></mat-form-field>
  <mat-form-field><input matInput placeholder="Category"></mat-form-field>
  <mat-form-field><input matInput placeholder="Engine Meta Command"></mat-form-field>
  <mat-form-field><input matInput placeholder="Engine Meta Package"></mat-form-field>
  <mat-slide-toggle>Branch Step?</mat-slide-toggle>
</div>

