<div class="pipelines-editor-layout">
  <div class="steps-editor-sidebar">
    <div class="pipeline-info">
      pipeline info
    </div>
    <steps-selector [steps]="steps" [draggableSteps]="true"></steps-selector>
  </div>
  <div class="designer-content">
    <div class="pipeline-buttons">
      <mat-card>
        <mat-card-content>
          <button mat-raised-button color="primary" [matMenuTriggerFor]="pipelineMenu"
                  style="margin-right: 5px;">Load</button>
          <mat-menu #pipelineMenu="matMenu">
            <button mat-menu-item *ngFor="let pipeline of pipelines" [id]="pipeline.id">{{pipeline.name}}</button>
          </mat-menu>
          <button mat-raised-button color="primary"
                  style="margin-right: 5px;">New</button>
          <button mat-raised-button color="primary"
                  style="margin-right: 5px;">Save</button>
          <button mat-raised-button color="primary">Clear</button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="pipeline-step-form">step form</div>
    <designer [addElementSubject]="dndSubject" (designerDropEvent)="addStep($event)"></designer>
  </div>
</div>
