<div mat-dialog-content [ngClass]="{ 'single-item': true }">
  <div>
    <mat-form-field>
      <mat-label>Property</mat-label>
      <input
        matInput
        type="text"
        [disabled]="data.node.parentType == 'array'"
        (change)="editNodePropertyName(data.node, $event.target.value)"
        [value]="data.node.item"
      />
    </mat-form-field>
  </div>
  <div [ngClass]="{ 'value': !data.complex }">
    <ng-container *ngIf="!data.node.expandable">
      <ng-container [ngSwitch]="data.complex ? 'complex' : data.type">
        <mat-slide-toggle
          *ngSwitchCase="'boolean'"
          (change)="updateNodeValue($event.checked)"
          [(ngModel)]="valueGS">
          {{ valueGS }}
        </mat-slide-toggle>
        <mat-form-field *ngSwitchCase="'number'">
          <mat-label>Value</mat-label>
          <input
            matInput
            type="number"
            (change)="updateNodeValue($event.target.value)"
            [(ngModel)]="valueGS"
          />
        </mat-form-field>
        <ng-container *ngSwitchCase="'complex'">
          <div
            class="complex-item"
            *ngFor="let item of complexItems; let i = index">
            <ng-container [ngSwitch]="item.type">
              <mat-form-field *ngSwitchCase="'number'">
                <mat-label>Value</mat-label>
                <input
                  matInput
                  type="number"
                  (change)="updateNodeValue()"
                  [(ngModel)]="item.value"
                />
              </mat-form-field>
              <mat-form-field *ngSwitchDefault>
                <mat-label>Value</mat-label>
                <input
                  matInput
                  type="text"
                  [disabled]="!item.type"
                  [(ngModel)]="item.value"
                  (change)="this.updateNodeValue()"/>
              </mat-form-field>
              <mat-slide-toggle
                *ngSwitchCase="'boolean'"
                (change)="this.updateNodeValue()"
                [(ngModel)]="item.value">
                {{ item.value }}
              </mat-slide-toggle>
              <mat-form-field>
                <mat-label>Type</mat-label>
                <mat-select
                  [(ngModel)]="item.type"
                  (ngModelChange)="complextItemTypeChanged(item)">
                  <mat-option
                    *ngFor="let type of complexTypes"
                    [value]="type.name"
                    [disabled]=" complexItems.length - 1 > i && (type.name | isGenericType)">
                    {{ type.displayName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button
                mat-icon-button
                color="primary"
                [disabled]="item.type | isGenericType"
                (click)="addComplexItem(i + 1)">
                <mat-icon>add</mat-icon>
              </button>
              <button
                mat-icon-button
                color="primary"
                (click)="deleteComplexItem(item)">
                <mat-icon>delete</mat-icon>
              </button>
            </ng-container>
          </div>
        </ng-container>
        <mat-form-field *ngSwitchDefault>
          <mat-label>Value</mat-label>
          <input
            matInput
            type="text"
            (change)="updateNodeValue($event.target.value)"
            [(ngModel)]="valueGS"
          />
        </mat-form-field>
      </ng-container>
      <mat-form-field *ngIf="data.type == undefined">
        <input
          matInput
          type="text"
          (change)="updateNodeValue($event.target.value)"
          [(ngModel)]="valueGS"
        />
      </mat-form-field>
    </ng-container>
    <mat-form-field *ngIf="data.type === undefined || !data.complex">
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="data.type" (ngModelChange)="typeChanged()">
        <mat-option *ngFor="let type of types" [value]="type.name">
          {{ type.displayName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="count" *ngIf="data.node.expandable">
    <span class="length" *ngIf="data.node.type == 'array'">
      [{{ data.node.length }}]</span>
    <span class="length" *ngIf="data.node.type == 'object'">
      {{ '{' + data.node.length + '}' }}</span>
  </div>
  <button *ngIf="!data.node.expandable && !data.complex"
    mat-icon-button
    color="primary"
    [disabled]="data.type | isGenericType"
    (click)="addComplexItem(-1)">
    <mat-icon>add</mat-icon>
  </button>
  <button
    *ngIf="!data.node.expandable && !data.complex"
    class="action-delete"
    mat-icon-button
    color="primary"
    (click)="deleteNode()">
    <mat-icon>delete</mat-icon>
  </button>
</div>
