<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>{{ parameterName }}</mat-panel-title>
  </mat-expansion-panel-header>
  <div class="add-button">
    <button
      *ngIf="!stepGroup.enabled && parameter.name !== 'pipelineMappings'"
      mat-raised-button
      color="primary"
      (click)="addClause()"
      [disabled]="
        parameter.type === 'object' ||
        parameter.type === 'script' ||
        parameter.type === 'result'
      "
    >
      <mat-icon aria-label="Add OR Clause">add</mat-icon>
    </button>
  </div>
  <div *ngFor="let param of parameters">
    <ng-container *ngIf="!complexParameter; else isAcomplexParameter">
      <ng-container
        *ngIf="
          (param.type === 'step' || param.type === 'secondary') &&
            stepSuggestions.length > 0;
          else isNotTypeResponse
        "
      >
        <mat-form-field>
          <mat-select
            [formControl]="stepResponseControl"
            placeholder="Select Step Response"
            #singleSelect
          >
            <app-mat-select-search
              [formControl]="stepResponseFilterCtrl"
            ></app-mat-select-search>
            <mat-option
              *ngFor="let step of filteredStepResponse | async"
              [value]="step"
            >
              {{ step }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <ng-template #isNotTypeResponse>
        <mat-form-field>
          <input
            matInput
            *ngIf="param.type !== 'step' || param.type !== 'secondary'"
            [(ngModel)]="param.value"
          />
        </mat-form-field>
      </ng-template>
    </ng-container>
    <ng-template #isAcomplexParameter>
      <textarea
        *ngIf="
          complexParameter &&
          (param.type !== 'step' || param.type !== 'secondary')
        "
        matInput
        required
        [ngModel]="param.value"
        disabled="true"
      ></textarea>
    </ng-template>

    <!--     <mat-form-field>
             <input
        *ngIf="
          !complexParameter &&
          (param.type !== 'step' || param.type !== 'secondary')
        "
        matInput
        required
        (change)="handleChange(param.id, param)"
        matTooltip="{{ stepGroup.pipeline?.name }}"
        matTooltipPosition="right"
      />
    </mat-form-field> -->
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select
        required
        [(ngModel)]="param.type"
        (selectionChange)="handleChange(param.id, param)"
      >
        <mat-option value="text">Static</mat-option>
        <mat-option value="global">Global</mat-option>
        <mat-option *ngIf="stepSuggestions.length > 0" value="step"
          >Step Response</mat-option
        >
        <mat-option *ngIf="stepSuggestions.length > 0" value="secondary"
          >Secondary Step Response</mat-option
        >
        <mat-option value="runtime">Runtime</mat-option>
        <mat-option
          *ngIf="!stepGroup.enabled && isAScriptParameter"
          value="script"
          >Script</mat-option
        >
        <mat-option
          *ngIf="!stepGroup.enabled && parameters.length === 1"
          value="result"
          >Result</mat-option
        >
        <mat-option
          *ngIf="parameter.className && parameters.length === 1"
          value="object"
        >
          Object
        </mat-option>
        <mat-option
          *ngIf="
            parameter.name === 'pipeline' &&
            stepType === 'step-group' &&
            (!stepGroup.enabled ||
              (stepGroup.enabled &&
                ['pipelineMappings', 'pipelineId'].indexOf(parameter.name) ===
                  -1))
          "
          value="pipeline"
          >Pipeline</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="!stepGroup.enabled && param.type === 'script'">
      <mat-label>Script Language</mat-label>
      <mat-select
        [(ngModel)]="param.language"
        [disabled]="param.type !== 'script'"
        (selectionChange)="handleChange(param.id, param)"
      >
        <mat-option value="javascript">Javascript</mat-option>
        <mat-option value="json">JSON</mat-option>
        <mat-option value="scala">Scala</mat-option>
        <mat-option value="sql">SQL</mat-option>
      </mat-select>
    </mat-form-field>
    <button
      *ngIf="param.id > 0"
      mat-raised-button
      color="primary"
      (click)="removeClause(param.id)"
    >
      <mat-icon aria-label="Remove OR Clause">remove</mat-icon>
    </button>
    <button
      *ngIf="param.id === 0 || stepGroup.enabled"
      mat-raised-button
      color="primary"
      (click)="openEditor(param.id)"
      [disabled]="disableEditorButton(param)"
    >
      <mat-icon aria-label="Open Editor">edit</mat-icon>
    </button>
  </div>
</mat-expansion-panel>
