.spacer {
  margin-left: 5px;
  vertical-align: middle;
}

.menu-img {
  vertical-align: middle;
}

.home-layout {
  display: grid;
}

.nav-button {
  width: 100px;
}

.user-menu {
  margin-right: 15px;
}
