.spacer {
  margin-left: 5px;
  vertical-align: middle;
}

.menu-img {
  vertical-align: middle;
}

.home-layout {
  display: grid;
}

// Nav bar styles
.topnav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.nav-button {
  width: 100px;
}

.user-menu {
  margin-right: 15px;
}
