<div>
  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="spacer"><a [routerLink]="['/']" routerLinkActive="active">Home</a></span>
        <span class="spacer">Application Editor</span>
        <span class="spacer"><a [routerLink]="['/pipelines-editor']" routerLinkActive="active">Pipeline Editor</a></span>
        <span class="spacer"><a [routerLink]="['/steps-editor']" routerLinkActive="active">Steps Editor</a></span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
