<div>
  <div>
    <mat-card>
      <mat-card-content>
        <div class="mt-2">
          <mat-card-title>Tracked Jobs</mat-card-title>
          <mat-card-subtitle>Last Refreshed: {{ lastRefreshDate | date : 'MM/dd/yyyy HH:mm:ss'}}</mat-card-subtitle>
          <mat-table [dataSource]="jobs" class="mat-elevation-z2">
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef> Id</mat-header-cell>
              <mat-cell *matCellDef="let job">{{job.id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
              <mat-cell *matCellDef="let job">{{job.name}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="appName">
              <mat-header-cell *matHeaderCellDef> Application Name</mat-header-cell>
              <mat-cell *matCellDef="let job">{{job.applicationName}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="providerName">
              <mat-header-cell *matHeaderCellDef> Provider</mat-header-cell>
              <mat-cell *matCellDef="let job">{{_provider?.name}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="type">
              <mat-header-cell *matHeaderCellDef> Type</mat-header-cell>
              <mat-cell *matCellDef="let job">{{job.jobType}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="lastStatus">
              <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
              <mat-cell *matCellDef="let job">{{job.lastStatus}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
              <mat-cell *matCellDef="let job">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Navigation">
                  <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <a mat-menu-item (click)="openJobStatus(job)">
                    <mat-icon color="primary">autorenew</mat-icon>
                    <span class="spacer">Details</span>
                  </a>
                  <a mat-menu-item (click)="cancelJob(job)">
                    <mat-icon color="primary">cancel</mat-icon>
                    <span class="spacer">Cancel</span>
                  </a>
                  <a mat-menu-item (click)="deleteJob(job)">
                    <mat-icon color="primary">delete</mat-icon>
                    <span class="spacer">Untrack</span>
                  </a>
                </mat-menu>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
