.user-info {
  display: grid;
  padding: 1em;
  margin: 1rem 6rem 0 0;
  max-width: 600px;
  padding: 1em;
  grid-template-columns: 200px 1fr;
  grid-gap: 16px;
}

mat-table {
  mat-header-row {
    mat-header-cell {
      color: white;
      font-size: medium;
    }
  }
}

.label {
  display: inline-block;
  text-align: right;
  font-weight: bold;
}
