<div *ngIf="running" style="text-align: center">
  <mat-spinner style="text-align: center; display: inline-block"></mat-spinner>
</div>
<div *ngIf="!running">
  <mat-card>
    <mat-card-title>Runtime Setup</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Copy Job:</mat-label>
        <mat-select (selectionChange)="copyJob($event)">
          <mat-option *ngFor="let job of data.jobs" [value]="job">{{ job.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <mat-slide-toggle color="primary" labelPosition="before"
                          [(ngModel)]="forceCopy">
          Force Upload Jars?
        </mat-slide-toggle>
      </div>
      <div>
        <mat-slide-toggle color="primary" labelPosition="before"
                          [(ngModel)]="includePipelines">
          Include Application Pipelines?
        </mat-slide-toggle>
      </div>
      <div>
        <mat-slide-toggle color="primary" labelPosition="before"
                          [(ngModel)]="useCredentialProvider">
          Use Secrets Manager Credential Provider?
        </mat-slide-toggle>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Job Setup</mat-card-title>
    <mat-card-subtitle>{{ data.application.name }}</mat-card-subtitle>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder=" Job Name" [(ngModel)]="name" required/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Log Level:</mat-label>
        <mat-select [(ngModel)]="selectedLogLevel">
          <mat-option value="INFO">INFO</mat-option>
          <mat-option value="DEBUG">DEBUG</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Select Provider:</mat-label>
        <mat-select [(ngModel)]="selectedProvider" (selectionChange)="handleProviderSelection($event.value.id, null)">
          <mat-option *ngFor="let provider of data.providers" [value]="provider">{{ provider.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select Cluster:</mat-label>
        <mat-select [(ngModel)]="selectedCluster">
          <mat-option *ngFor="let cluster of clusters" [value]="cluster">{{ cluster.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder=" Jars Bucket Name" [(ngModel)]="bucket" required/>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Select Job Type:</mat-label>
        <mat-select [(ngModel)]="selectedJobType">
          <mat-option *ngFor="let t of jobTypes" [value]="t">{{ t.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <ng-container *ngIf="selectedJobType?.id !== 'batch'">
        <mat-form-field>
          <input matInput placeholder="Window Duration" type="number" [(ngModel)]="streamingInfo.duration"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Select Duration Type:</mat-label>
          <mat-select [(ngModel)]="streamingInfo.durationType">
            <mat-option value="milliseconds">Milliseconds</mat-option>
            <mat-option value="seconds">Seconds</mat-option>
            <mat-option value="minutes">Minutes</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <div *ngIf="selectedJobType?.id === 'kinesis'">
        <mat-form-field>
          <input matInput placeholder=" Stream Name" [(ngModel)]="streamingInfo.streamName" required/>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder=" App Name" [(ngModel)]="streamingInfo.appName"/>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Consumer Streams" type="number"
                 [(ngModel)]="streamingInfo.consumerStreams" required/>
        </mat-form-field>
      </div>
      <div *ngIf="selectedJobType?.id === 'pubsub'">
        <mat-form-field>
          <input matInput placeholder="Subscription" [(ngModel)]="streamingInfo.subscription"/>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Runtime Settings -->
  <div>
    <mat-card>
      <mat-card-title>Runtime Settings</mat-card-title>
      <app-tree-editor [inputData]="missingParameters" (dataChanged)="treeEditorUpdated($event)"></app-tree-editor>
    </mat-card>
  </div>

  <!-- Provider custom runtime form -->
  <div *ngIf="_fields">
    <form [formGroup]="form">
      <formly-form [form]="form" [model]="model" [fields]="_fields"></formly-form>
    </form>
  </div>
</div>

<mat-dialog-actions *ngIf="!running" align="end">
  <button
    mat-raised-button
    color="primary"
    (click)="run()"
    style="margin-right: 5px"
    [disabled]="!selectedCluster ||
    !selectedJobType || (!bucket || bucket.trim().length === 0) ||
    (!name || name.trim().length === 0)">
    Run
  </button>
  <button mat-raised-button color="primary" (click)="closeDialog()">
    Cancel
  </button>
</mat-dialog-actions>
