<mat-card class="designer-card">
  
  <ng-container *ngIf="selectedComponent?.instance.data">
    <mat-toolbar>
      <!-- <span>Step: {{selectedComponent.instance.data.name}}</span> -->
      <span class="example-spacer"></span>
      <button mat-button color="primary" (click)="removeNode()">Remove Step</button>
    <button *ngFor="let action of selectedComponent.instance.data.actions" mat-button color="primary" (click)="handleAction(action.action)" [disabled]="!action.enableFunction()">{{action.displayName}}</button>
    </mat-toolbar>
  </ng-container>
  <mat-card-content class="designer-card">
    <div #canvas id="canvas" class="designer-canvas canvas canvas-wide jtk-surface jtk-surface-nopan"
         [dndDropzone]
         (dndDrop)="addNewElement($event)">
      <ng-template appDesignerNode></ng-template>
    </div>
  </mat-card-content>
</mat-card>

