@import url('../../../../../node_modules/jsplumb/css/jsplumbtoolkit-defaults.css');

.designer-card {
  height: 100%;
}

.designer-canvas {
  min-height: 500px;
  margin-top: 15px;
  height: 100%;
}

.designer-canvas .window:hover {
  box-shadow: 2px 2px 19px #444;
  -o-box-shadow: 2px 2px 19px #444;
  -webkit-box-shadow: 2px 2px 19px #444;
  -moz-box-shadow: 2px 2px 19px #444;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.designer-canvas .hover {
  border: 1px dotted green;
}

.designer-canvas ._jsPlumb_endpoint, .endpointTargetLabel, .endpointSourceLabel {
  z-index: 21;
  cursor: pointer;
}
