<app-close-dialog-button></app-close-dialog-button>
    <div class="code-language">
      <mat-form-field>
        <mat-label>Select Language: </mat-label>
        <mat-select class="code-language" required [(ngModel)]="data.language">
          <mat-option value="javascript">Javascript</mat-option>
          <mat-option value="json">JSON</mat-option>
          <mat-option value="scala">Scala</mat-option>
          <mat-option value="sql">SQL</mat-option>
        </mat-select>
      </mat-form-field>
      <span class="uuidLableLeft" *ngIf="data.allowSave"> 
        <input style="display: none" type="file" accept=".json" 
             (change)="onFileLoad($event)" #fileinput>
        <button mat-button color="primary" type="button" (click)="fileinput.click()"> Import </button>
      </span> 
    </div>
<div class="code-div">
  <ace
    [mode]="data.language"
    [theme]="'solarized_light'"
    [(value)]="data.code"
  ></ace>
</div>
<div mat-dialog-actions class="code-bottom-toolbar">
  <div>
    <button mat-raised-button  
      *ngIf="data.exportFileName"
      color="primary"
      (click)="exportChart()"> 
      Export Chart Data (CSV) 
    </button>
  </div>
  <div class="code-bottom-toolbar-fill"></div>
  <div>
    <button mat-raised-button mat-dialog-close>Close</button>
    <button mat-raised-button  
      *ngIf="data.exportFileName"
      color="primary"
      (click)="exportTemplate()"> 
      Export 
    </button>
    <button
      *ngIf="data.allowSave"
      mat-raised-button
      color="primary"
      [mat-dialog-close]="data"
    >
      Ok
    </button>
  </div>
</div>
