.node-label {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

app-designer-node {
  box-shadow: 2px 2px 19px #aaa;
  -o-box-shadow: 2px 2px 19px #aaa;
  -webkit-box-shadow: 2px 2px 19px #aaa;
  -moz-box-shadow: 2px 2px 19px #aaa;
  opacity: 0.8;
  filter: alpha(opacity=80);
  width: 128px;
  height: 64px;
  line-height: 32px;
  cursor: pointer;
  text-align: center;
  z-index: 20;
  position: absolute;
  background-color: #eeeeef;
  color: black;
  /*font-family: helvetica;*/
  padding: 0.5em;
  margin: 1rem;
  font-size: 0.9em;
  -webkit-transition: -webkit-box-shadow 0.15s ease-in;
  -moz-transition: -moz-box-shadow 0.15s ease-in;
  -o-transition: -o-box-shadow 0.15s ease-in;
  transition: box-shadow 0.15s ease-in;

  .actions {
    position: absolute;
    bottom: -1em;
    left: 0;
    display: block;
    color: #999999;
  }
}

.designer-node-selected {
  border: 3px dotted green;
}
