.node-label {
  text-align: center;
}

app-designer-node {
  box-shadow: 2px 2px 19px #aaa;
  -o-box-shadow: 2px 2px 19px #aaa;
  -webkit-box-shadow: 2px 2px 19px #aaa;
  -moz-box-shadow: 2px 2px 19px #aaa;
  -moz-border-radius: 40px;
  border-radius: 40px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  width: 64px;
  height: 64px;
  line-height: 32px;
  cursor: pointer;
  text-align: center;
  z-index: 20;
  position: absolute;
  background-color: #eeeeef;
  color: black;
  /*font-family: helvetica;*/
  padding: 0.5em;
  margin: 1rem;
  font-size: 0.9em;
  -webkit-transition: -webkit-box-shadow 0.15s ease-in;
  -moz-transition: -moz-box-shadow 0.15s ease-in;
  -o-transition: -o-box-shadow 0.15s ease-in;
  transition: box-shadow 0.15s ease-in;
  .actions {
    position: absolute;
    top: -1rem;
    right: -2rem;
    display: none;
    // z-index: 10;
  }
  &:hover {
    .actions {
      display: block;
    }
  }
}

.designer-node-selected {
  border: 3px dotted green;
  border-radius: 40px;
  -moz-border-radius: 40px;
}
