<div (click)="nodeClicked($event)"
     matTooltip="{{data.tooltip}}"
     matTooltipPosition="right">
  <div class="node-label">{{data.name}}</div>
  <div>
    <mat-icon color="primary">{{data.icon}}</mat-icon>
  </div>
</div>
<div class="actions">
  <mat-icon color="warn"  (click)="removeNode()">delete</mat-icon>
</div>
<div [matMenuTriggerFor]="nodeMenu">
  <mat-menu #nodeMenu="matMenu">
    <button mat-menu-item (click)="removeNode()">Remove</button>
    <button *ngFor="let action of data.actions" mat-menu-item (click)="handleAction(action.action)" [disabled]="!action.enableFunction()">{{action.displayName}}</button>
  </mat-menu>
</div>
