<mat-card>
  <mat-card-content>
    <div class="step-list-container">
      <mat-action-list class="step-list">
        <mat-list-item class="step-list-item" *ngFor="let step of steps" matTooltip="{{step.description}}"
                       matTooltipPosition="right"
                       (click)="handleStepSelection(step)"
                       [dndDraggable]="step"
                       [dndDisableIf]="!draggableSteps"
                       [dndEffectAllowed]="dropEffect">
          <mat-icon color="primary">{{getStepIcon(step)}}</mat-icon>
          <span class="step-list-text">
            {{step.displayName}}
          </span>
        </mat-list-item>
      </mat-action-list>
    </div>
  </mat-card-content>
</mat-card>
