<div>
  <nav-toolbar page="landing" title="Home" [user]="user" ></nav-toolbar>
  <div>
    <mat-grid-list cols="4">
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title-group>
              <mat-icon color="primary">dashboard</mat-icon>
              <mat-card-title>Applications</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>{{applicationCount}}</mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title-group>
              <mat-icon color="primary">more_vert</mat-icon>
              <mat-card-title>Pipelines</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>{{pipelineCount}}</mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title-group>
              <mat-icon color="primary">apps</mat-icon>
              <mat-card-title>Steps</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>{{stepCount}}</mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title-group>
              <mat-icon color="primary">group_work</mat-icon>
              <mat-card-title>Object Schemas</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>{{packageObjectCount}}</mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>


