<mat-card>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Pipeline Listener</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="form-layout">
          <mat-form-field>
            <mat-label>Class Name</mat-label>
            <input matInput required [(ngModel)]="localData.pipelineListener.className">
            <button matSuffix mat-button (click)="openEditor(localData.pipelineListener.parameters)">
              <mat-icon aria-label="Open Editor">edit</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Pipeline Security Manager</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="form-layout">
          <mat-form-field>
            <mat-label>Class Name</mat-label>
            <input matInput required [(ngModel)]="localData.securityManager.className">
            <button matSuffix mat-button (click)="openEditor(localData.securityManager.parameters)">
              <mat-icon aria-label="Open Editor">edit</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Pipeline Step Mapper</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="form-layout">
          <mat-form-field>
            <mat-label>Class Name</mat-label>
            <input matInput required [(ngModel)]="localData.stepMapper.className">
            <button matSuffix mat-button (click)="openEditor(localData.stepMapper.parameters)">
              <mat-icon aria-label="Open Editor">edit</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Spark Listeners</mat-panel-title>
          <button mat-button (click)="addSparkListener()">
            <mat-icon aria-label="Add Listener">add</mat-icon>
          </button>
        </mat-expansion-panel-header>
        <div class="form-layout">
          <mat-form-field *ngFor="let listener of sparkListeners">
            <mat-label>Class Name</mat-label>
            <input matInput required [(ngModel)]="listener.className" (change)="generateSparkListeners()">
            <button matSuffix mat-button (click)="openEditor(listener.parameters)">
              <mat-icon aria-label="Open Editor">edit</mat-icon>
            </button>
            <button matSuffix mat-button (click)="removeSparkListener(listener.id)">
              <mat-icon aria-label="Remove Listener">delete</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="localData.pipelineManager">
        <mat-expansion-panel-header>
          <mat-panel-title>Pipeline Manager</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="form-layout">
          <mat-form-field>
            <mat-label>Class Name</mat-label>
            <input matInput required [(ngModel)]="localData.pipelineManager.className">
            <button mat-button (click)="openEditor(localData.pipelineManager.parameters)">
              <mat-icon aria-label="Open Editor">edit</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
