<mat-card>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>User Defined Functions</mat-panel-title>
          <div>
            <button mat-button (click)="addUDC(0)">
              <mat-icon aria-label="Add UDF">add</mat-icon>
            </button>
          </div>
        </mat-expansion-panel-header>
        <div class="form-layout">
          <mat-form-field *ngFor="let listener of udfs">
            <mat-label>Class Name</mat-label>
            <input matInput required [(ngModel)]="listener.className" (change)="generateUDCs()">
            <button mat-button (click)="openEditor(listener.parameters)">
              <mat-icon aria-label="Open Editor">edit</mat-icon>
            </button>
            <button mat-button (click)="removeUDC(listener.id, 0)">
              <mat-icon aria-label="Remove Listener">delete</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>JSON4S Custom Serializers</mat-panel-title>
          <div>
            <button mat-button (click)="addUDC(1)">
              <mat-icon aria-label="Add Custom Serializer">add</mat-icon>
            </button>
          </div>
        </mat-expansion-panel-header>
        <div class="form-layout">
          <mat-form-field *ngFor="let listener of customSerializers">
            <mat-label>Class Name</mat-label>
            <input matInput required [(ngModel)]="listener.className" (change)="generateUDCs()">
            <button mat-button (click)="openEditor(listener.parameters)">
              <mat-icon aria-label="Open Editor">edit</mat-icon>
            </button>
            <button mat-button (click)="removeUDC(listener.id, 1)">
              <mat-icon aria-label="Remove Listener">delete</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>JSON4S ID Serializers</mat-panel-title>
          <div>
            <button mat-button (click)="addUDC(2)">
              <mat-icon aria-label="Add ID Serializer">add</mat-icon>
            </button>
          </div>
        </mat-expansion-panel-header>
        <div class="form-layout">
          <mat-form-field *ngFor="let listener of idSerializers">
            <mat-label>Class Name</mat-label>
            <input matInput required [(ngModel)]="listener.className" (change)="generateUDCs()">
            <button mat-button (click)="openEditor(listener.parameters)">
              <mat-icon aria-label="Open Editor">edit</mat-icon>
            </button>
            <button mat-button (click)="removeUDC(listener.id, 2)">
              <mat-icon aria-label="Remove Listener">delete</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>JSON4S Name Serializers</mat-panel-title>
          <div>
            <button mat-button (click)="addUDC(3)">
              <mat-icon aria-label="Add Name Serializer">add</mat-icon>
            </button>
          </div>
        </mat-expansion-panel-header>
        <div class="form-layout">
          <mat-form-field *ngFor="let listener of nameSerializers">
            <mat-label>Class Name</mat-label>
            <input matInput required [(ngModel)]="listener.className" (change)="generateUDCs()">
            <button mat-button (click)="openEditor(listener.parameters)">
              <mat-icon aria-label="Open Editor">edit</mat-icon>
            </button>
            <button mat-button (click)="removeUDC(listener.id, 3)">
              <mat-icon aria-label="Remove Listener">delete</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
<div mat-dialog-actions class="button-div">
  <button mat-raised-button (click)="closeDialog()">Close</button>
</div>

