<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Navigation">
  <mat-icon>list</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <a mat-menu-item [routerLink]="['/']" routerLinkActive="active">
      <mat-icon color="primary">home</mat-icon>
      <span class="spacer">Home</span>
  </a>
  <a mat-menu-item [routerLink]="['/applications-editor']" routerLinkActive="active">
    <mat-icon color="primary">dashboards</mat-icon>
    <span class="spacer">Applications Editor (dev)</span>
  </a>
  <a mat-menu-item [routerLink]="['/pipelines-editor']"
  routerLinkActive="active">
      <mat-icon color="primary">more_vert</mat-icon>
      <span class="spacer">Pipelines Editor</span>
  </a>
  <a mat-menu-item [routerLink]="['/custom-form-editor']"
  routerLinkActive="active">
      <mat-icon color="primary">more_vert</mat-icon>
      <span class="spacer">Custom Form Editor (dev)</span>
  </a>
  <a mat-menu-item  [routerLink]="['/upload']" routerLinkActive="active">
      <mat-icon color="primary">group</mat-icon>
      <span class="spacer">Upload Metadata</span>
  </a>
  <a mat-menu-item  [matMenuTriggerFor]="jobsMenu">
    <mat-icon color="primary">workspaces</mat-icon>
    <span class="spacer">Jobs (Dev)</span>
  </a>
</mat-menu>
<mat-menu #jobsMenu="matMenu">
  <a mat-menu-item  [routerLink]="['/jobs']" routerLinkActive="active">
    <mat-icon color="primary">work</mat-icon>
    <span class="spacer">Jobs</span>
  </a>
  <a mat-menu-item  [routerLink]="['/providers']" routerLinkActive="active">
    <mat-icon color="primary">cloud</mat-icon>
    <span class="spacer">Manage Providers</span>
  </a>
</mat-menu>
